.ul-g li{
	background: url(../images/sprite-norisk-i.png) no-repeat 0 -411px;
	}
.ul-arr li{
	background: url(../images/sprite-norisk-i.png) no-repeat -40px -370px;
	}

.norisk{
	border: 1px solid #b2b2b2;
	line-height: 140%;
	font-size:12px;
	}
.norisk .btngr{
	font-size: 95%;
	}
.nr-h{
	padding: 15px 15px 5px;
	background: #F3F2F0; font-size:11px;
	}
.norisk .tabs{
	background: #F3F2F0;
	line-height: 115%;
	margin: 0; font-size:11px;
	}
.lnk-drafts, .lnk-drafts:link, .lnk-drafts:active, .lnk-drafts:hover{
	color: #C60000 !important;
	}
.nr-start{
	float:left;
	width: 300px;
	margin: 0 30px 0 0;
	}
.lnk-nr-start{
	color: #62B04B;
	display:block;
	margin: 0 0 10px 0;
	}
.nr-start p{
	padding: 5px 0 0 0;
	}
.nr-docs{
	float:left;
	width: 280px;
	margin: 0 30px 0 0;
	}
.nr-docs ul{
	list-style:none;
	padding: 5px 0 0 0;
	}
.nr-docs ul li{
	line-height:115%;
	margin: 0 0 5px 0;
	}
.nr-docs ul li.first{
	margin: 0 0 19px 0;
	}
.nr-support{
	float:right;
	width: 265px;
	}
.nr-support img{
	float:left;
	margin: 0 15px 0 0;
	}
.nr-s-in{
	float:left;
	}
.nr-s-buble{
	width: 205px;
	height: 60px;
	margin: 0 0 7px -5px;
	background: url(../images/nr-support-m.png) no-repeat;
	}
.nr-s-buble div{
	padding: 5px 0 0 18px;
	}
.nr-s-buble p{
	padding: 3px 0 0 0;
	line-height:130%;
	}
.norisk .tabs-in{
	font-size: 105%;
	color: #333;
	}
.norisk .tabs-in h3{
	font-size: 155%;
	margin: 0 0 15px 0;
	color: #333;
	}
.norisk .tabs-in .form-label{
	color: #333;
	}
.lnk-nr-back{
	padding: 0 0 0 12px;
	margin: 0 0 19px 0;
	background: url(../images/sprite-norisk-i.png) no-repeat -295px -125px
	}

/*Arbitrage*/
.nr-arb-send{
	padding: 20px 0 0 130px;
	color: #333;
	background: url(../images/sprite-norisk.png) no-repeat 22px -109px;
	}
.nr-arb-send-agree{
	width: 290px;
	margin: 28px 0 25px;
	}
.nr-arb-send-agree .form-in{
	padding: 10px;
	}
.nr-arb-send h3{
	color: #D80000;
	}
.nr-arb-send-prj{
	margin: 0 0 37px 0;
	}
.nr-arb-send-prj h4{
	float:left;
	margin: 0 20px 0 0;
	}
.nr-arb-send-prj div{
	display:table;
	height: 1%;
	}
.nr-arb-send-prj div span{
	font-size: 90%;
	color: #999;
	}
.nr-arb-send-form{
	width: 768px;
	}
.nr-arb-send-form label{
	display:block;
	margin: 0 0 5px 0;
	}
.nr-arb-send-form textarea{
	height: 105px;
	width: 760px;
	display:block
	}
.nr-send-btns{
	text-align:right;
	padding: 20px 0 0 0;
	font-size: 90%;
	}
.nr-send-files{
	padding: 20px 0 0 0;
	font-size: 90%;
	}

.nr-empty{
	padding: 20px 0 0 130px;
	color: #333;
	background: url(../images/sprite-norisk.png) no-repeat -94px 15px;
	}
.nr-empty h4{
	font-size: 100%;
	margin: 0 0 20px 0;
	}
.nr-empty p{
	margin: 0 0 22px 0;
	}
.nr-empty ul{
	list-style:none;
	margin: 0 0 23px 0;
	}
.nr-empty ul li{
	line-height: 140%;
	margin: 0 0 13px 0;
	padding: 0 0 0 20px;
	}
.nr-txt{
	margin: 0 0 44px 0;
	}
.nr-txt-clr{
	display:table;
	height: 1%;
	}
.nr-manager-photo{
	float:left;
	margin: 0 20px 0 0;
	border: 1px solid #DCDCDC;
	padding: 2px;
	}
.nr-manger-info{
	margin: 0 0 20px 0;
	}
.nr-manager-work{
	background: #F0EFED;
	float:left;
	padding: 8px 12px 10px;
	margin: 0 26px 0 0;
	}
.nr-manager-contacts{
	float:left;
	line-height: 180%;
	padding: 3px 0 0 0;
	}

.nr-vars{
	margin: 0 75px 20px 0;
	}
.nr-vars .form-block{
	padding: 21px 40px 28px 60px;
	background: url(../images/sprite-norisk-i.png) no-repeat -54px -313px
	}
.nr-vars .form-block h4{
	font-size: 155%;
	font-weight: 400;
	margin: 0 0 16px 0;
	}
.nr-vars .form-block p{
	margin: 0;
	}

.nr-form-name{
	margin: 0 0 15px 0;
	}
.nr-form-name .form-label{
	width: 165px;
	padding: 5px 0 0 0;
	}
.nr-i-name{
	font-size: 155% !important;
	width: 690px;
	background: #fff url(../images/sprite-norisk-i.png) no-repeat -243px -160px;
	border: 1px solid #E3E3EB;
	padding: 2px 2px 3px 30px !important;
	}
.nr-form-name .invalid{
	background-color: #FFF4F4 !important;
	border-color: #D00000 !important;
	}
.nr-ico{
	background: #fff url(../images/sprite-norisk-i.png) no-repeat -248px -166px;
	padding: 0 0 0 20px;
	display:inline-block;
	}
.nr-form-frl{
	margin: 0 0 15px 0;
	}
.nr-form-frl .form-label{
	width: 165px;
	padding: 2px 0 0 0;
	}
.nr-form-frl .nr-i-login{
	width: 145px;
	}
.nr-frl-info{
	float:right;
	width: 360px;
	font-size: 90%;
	}
.nr-frl-info .user-info{
	display:table;
	height:1%;
	}
.user-stat{
	line-height: 115%;
	margin: 0 0 5px 0;
	}
.user-stat .ac-pro{
	position:relative;
	top:1px;
	}
.lnk-nr-reviews:link, .lnk-nr-reviews:visited, .lnk-nr-reviews:hover{
	color: #666;
	}

.nr-task{
	margin: 0 0 10px 0;
	}
.nr-task legend{
	color: #333;
	padding: 5px 0 10px 15px;
	}
.nr-task .form-label, .nr-task .form-label3{
	width: 165px;
	padding: 2px 0 0 0;
	}
.nr-task-info{
	display:table;
	height: 1%;
	}
.nr-task .form-el{
	margin: 0 0 30px 0;
	overflow: visible;
	}
.norisk .form-el {
	}
.nr-task .form-s-el{
	margin: 0 0 10px 0;
	}
.nr-i-taskname{
	width: 334px;
	}
.nr-task-cat{
	float:left;
	margin: 0 0 -10px 0;
	}
.nr-task-cat span{
	display:block;
	margin: 0 0 10px 0;
	}
.nr-task-cat span select{
	width: 340px;
	}
.nr-task-info textarea{
	width: 715px;
	height: 200px;
	display:block;
	}
.nr-task .form-files{
	font-size: 90%;
	margin: 10px 0 0 0;
	}
.nr-task .form-files .form-el{
	margin: 0 0 10px 0;
	}
	/*
.nr-task .form-files .b1, .nr-task .form-files .b2{
	background: #E7E6E5; 
	border-left: 1px solid #EDECEA;
	border-right: 1px solid #EDECEA;
	}
.nr-task .form-files .form-in, .nr-task .form-files .form-in .flt-cnt{
	background: #E7E6E5;
	}
	 */
.nr-task .nr-imp{
	float:right;
	width: 320px;
	font-size: 90%;
	color: #333;
	padding: 2px 0 0 0;
	}
.nr-task .nr-imp2{
	margin: 0 0 -45px 0;
	}
.nr-task .nr-imp p{
	padding: 10px 0 0 0;
	}
.nr-task .nr-imp h4{
	color: #D90000;
	font-size: 100%;
	}
.nr-task .nr-imp strong{
	color: #D90000;
	font-size: 100%;
	}
.nr-task .form-el-btn{
	padding: 10px 0 0 165px;
	margin: 0 0 10px 0;
	position: relative;
	}
.nr-task .nr-diedline{
	display:table;
	height: 1%;
	}

.nr-imp-max .nr-imp{
	float:none;
	width: auto;
	margin: 0 165px;
	}

.nr-form-btns .form-el p{
	margin: 0 0 13px 0;
	}
.nr-btn-send{
	font-weight:900;
	}
.nr-form-budjet{
	margin: 0 0 10px 0;
	color: #333;
	position:relative;
	}
.nr-form-budjet .form-label{
	width: 165px;
	}
.nr-form-budjet .nr-budjet-finish{
	float:left;
	width: 240px;
	}
.nr-form-budjet .lnk-dot-blue{
	float:left;
	}
.nr-form-budjet .form-header .b1, .nr-form-budjet .form-header .b2{
	background: #E7E6E5;
	border-left: 1px solid #EDECEA;
	border-right: 1px solid #EDECEA;
	}
.nr-form-budjet .form-header .form-in{
	background: #E7E6E5;
	}
.nr-form-budjet h4{
	color: #D90000;
	font-size: 100%;
	margin: 0 0 10px 0;
	}

.nr-calc{
	width: 491px;
	height: 336px;
	background: url(../images/nr-calc.png) no-repeat;
	position:absolute;
	z-index:100;
	bottom: 20px;
	left: 50%;
	margin: 0 0 0 -245px;
	display:none;
	}
.nr-calc-in{
	margin: 0 35px;
	overflow:hidden;
	padding: 32px 0 35px;
	}
.nr-calc-f{
	text-align:center;
	position:absolute;
	bottom: 25px;
	width: 421px;
	}
.nr-calc-f .lnk-dot-blue{
	float:none;
	}
.nr-calc-in table{
	width: 100%;
	}
.nr-calc-in table td, .nr-calc-in table th{
	padding: 9px 0 12px;
	}
.nr-calc-in .col-sum{
	text-align:right;
	width: 100px;
	}
.nr-calc-in .col-persent{
	color: #A6A6A6;
	width: 42px;
	}
.tr-dash td, .tr-dash th{
	border-bottom: 1px dashed #C6C6C6;
	}
.th-sum{
	text-align:right;
	font-weight:900;
	}

.nr-tabs-in2{
	padding-left: 35px !important;
	}
.nr-prj-title{
	background: #fff url(../images/sprite-norisk-i.png) no-repeat -250px -165px;
	padding: 0 0 0 20px;
	margin-left: -20px !important;
	}
.nr-prj-title a:link, .nr-prj-title a:visited{
	color: #333 !important;
	text-decoration:none;
	}
.nr-prj-title a:hover{
	text-decoration:underline;
	}
.nr-prj-status{
	float:right;
	text-align:right;
	}
.nr-prj-status strong{
	display:block;
	font-size: 155%;
	font-weight: 400;
	margin: 0 0 7px 0;
	}
.nr-prj-status span{
	font-size: 90%;
	}
.nr-prj-status .nr-prj-cmplt{
	color: #6BB545;
	}
.nr-prj-status .nr-prj-acmplt{
	color: #C80000;
	}
.nr-prnt-project{
	font-size: 120%;
	margin:-8px 0 15px 0;
	}
.nr-prnt-project span.nr-prnt-doc{
	display:block;
	font-size:90%;
	padding: 5px 0 0 0;
	}
.nr-prnt-project em{
	color: #999;
	font-style:normal;
	}
.form-tz{
	margin: 0 0 30px 0;
	}
.form-tz p{
	margin: 0 0 20px 0;
	}
.form-tz .flt-bar{
	line-height: 115%;
	font-size: 100%;
	padding-bottom: 5px;
	}
.form-tz .flt-bar h4{
	font-size: 100%;
	}
.form-tz .list-files{
	margin: 0 0 20px 0;
	font-size: 90%;
	}
.form-tz .list-files{
	margin: 0 0 -8px;
	}
.list-files{
	list-style:none;
	}
.list-files li{
	background: url(../images/sprite-norisk-i.png) no-repeat -123px -296px;
	padding: 0 0 0 20px;
	margin: 0 0 8px 0;
	}
.list-files span{
	color: #999;
	}

.nr-discuss{
	border-top: 1px solid #ccc;
	padding: 25px 0 0 0;
	}
.nr-discuss h4{
	font-size: 155%;
	font-weight: 400;
	margin: 0 0 25px;
	}
.nr-discuss-imp{
/*	margin: 0 0 30px 0; */
	margin: 0 0 15px 0;
	padding: 0 0 0 50px;
	background: url(../images/sprite-norisk-i.png) no-repeat -322px -77px;
	}
.nr-comment-form {
	padding: 15px 15px 5px;
	background: #f7f7f6;
	}
.nr-discuss-comment textarea{
	display: block;
	width: 868px;
	}
.nr-comment-form .btnr {
	margin: 25px 0 0 0;
	}
.nr-sys-i{
	zoom:1;
	}
.nr-sys-i-li{
	margin: 30px 0;
	}
.nr-sys-i-li .user-info{
	margin: 0;
	}
.nr-sys-i .b1, .nr-sys-i .b2{
	background: #FF6B3D;
	border-left: 1px solid #FFB198;
	border-right: 1px solid #FFB198;
	}
.nr-sys-i-in{
	background: #FF6B3D;
	color: #fff;
	padding: 9px 12px 10px
	}
.nr-sys-i-in .lnk-white{
	float:right;
	margin: 0 0 0 15px;
	}
.nr-sys-date{
	float:left;
	margin: 0 10px 0 0;
	}
.nr-sys-file{
	float:left;
	width: 495px;
	padding: 0 0 1px 20px;
	background: url(../images/sprite-norisk-i.png) no-repeat -383px -36px;
	}
.nr-ua{
	background: #FFD1D1;
	padding: 10px;
	}

.nr-tbl-inf{
	margin: 0 0 15px;
	font-size: 90%;
	color: #666;
	}
.nr-tbl-inf table{
	width: 100%;
	}
.nr-tbl-inf table td{
	height: 64px;
	padding: 0 25px 0 25px;
	vertical-align:middle;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	}
.nr-td-budjet{
	white-space:nowrap;
	}
.nr-tbl-inf .b1{
	background: #CCC !important;
	border:none !important;
	}
.nr-tbl-inf-in{
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	background:#fff;
	}
.nr-tbl-inf tr.last td{
	border-bottom: none;
	}
.nr-tbl-inf td.last{
	border-right: none;
	}
	
.nr-prj-options{
	clear:both;
	margin: 0 0 10px 0;
	list-style:none;
	font-size: 90%;
	}
.nr-prj-options li{
	float:left;
	margin: 0 10px 0 0;
	}
.nr-prj-o1{
	float:right !important;
	margin: 0 !important;
	}
.nr-prj-o5{
	float:right !important;
	margin: 0 !important;
	color: #C80000;
	padding: 2px 0 0 0;
	}
.nr-prj-o2 .btn-txt{
	color: #333;
	font-weight:900;
	}
.nr-prj-o3 .btn-txt{
	padding-left: 20px;
	background: url(../images/sprite-norisk-i.png) no-repeat -166px -251px; 
	}

.form-nr-docs{
	margin: 0 0 15px 0;
	}
.form-nr-docs table{
	width: 100%;
	font-size: 90%;
	color: #666;
	}
.form-nr-docs table td{
	padding: 8px 15px 10px 0;
	border-bottom: 1px solid #fff;
	}
.form-nr-docs table th{
	text-align:center;
	border-bottom: 1px solid #fff;
	padding: 9px 0 0 0;
	}
.form-nr-docs table th input{
	margin: 0 !important;
	}
.nr-d-c1{
	text-align:right !important;
	}
.nr-d-c5{
	text-align:right !important;
	color: #333;
	}
.nr-d-c6{
	text-align:right !important;
	}
.nr-d-e{
	color: #fff;
	background: #6BB545;
	float:right;
	padding: 1px 5px 2px;
	margin: -1px 0 -2px 5px;
	}
.nr-d-f{
	color: #fff;
	background: #FF6B3D;
	display:inline-block;
	float:right;
	padding: 1px 5px 2px;
	margin: -1px 0 -2px 0;
	}
.form-nr-docs table tr.last td, .form-nr-docs table tr.last th{
	border-bottom: 0;
	padding-bottom: 8px;
	}
.form-nr-docs table tr.first td{
	padding-top: 6px;
	}
.form-nr-docs table tr.first th{
	padding-top: 8px;
	}
.nr-docs-options{
	margin: 0 0 35px 0;
	}
.nr-docs-options input, .nr-docs-options select{
	font-size: 90%;
	}
.nr-docs-options select{
	width: 180px;
	}

.nr-docs-add{
	margin: 0 0 15px 0;
	}
.nr-docs-add .form-h{
	background: #FFEDA9 url(../images/sprite-norisk-i2.png) no-repeat -129px -90px;
	padding: 5px 5px 5px 30px;
	}
.nr-docs-add .form-b{
	display:none;
	}
.nr-docs-add .b1, .nr-docs-add .b2{
	background: #FFEDA9;
	border-left: 1px solid #FFF5D1;
	border-right: 1px solid #FFF5D1;
	}
.nr-docs-add .form-in{
	background: #FFEDA9;
	}
.nr-docs-add .form-in .first{
	border-bottom:none;
	}
.nr-docs-add .form-el label{
	display:inline-block;
	width: 85px;
	font-weight:900;
	}
.nr-docs-add .form-el input{
	font-size:13px;
	padding: 1px;
	}
.nr-docs-add .form-el select{
	width: 250px;
	font-size:13px;
	padding: 1px;
	}
.nr-docs-add .form-el .i-txt{
	width: 345px;
	}
.nr-docs-add .form-el .i-file{
	font-size:12px;
	}
.nr-docs-add .i-btn{
	padding: 1px 10px !important;
	line-height:11px;
	}
.nr-docs-add .last{
	padding-left: 103px !important;
	}
.nr-docs-add-show{
	display:block !important;
	}

.form-nr-docs-add{
	color: #666;
	margin: 0 0 15px 0;
	}
.form-nr-docs-add .i-btn{
	font-weight:400;
	}
.form-nr-docs-add .i-bold{
	font-weight:900;
	}
.form-nr-docs-add .form-label3{
	width: 130px;
	}
.form-nr-docs-add .form-files-added{
	margin: 0 0 7px 0;
	}
.form-nr-docs-add .form-files-added li{
	background: #FFEDA9;
	}
.nra-doc-title{
	width: 450px;
	float:left;
	margin: 0 15px 0 0;
	}
.nra-doc-title input{
	width: 445px;
	}
.nra-doc-sel{
	float:left;
	}
.nra-doc-sel select{
	width: 240px;
	}
.nra-docs-file{
	float:left;
	width: 450px;
	margin: 0 15px 0 0;
	}
.nra-docs-file .form-hint{
	float:right;
	padding: 2px 0 0 0;
	}
.form-nr-docs-add .form-btn{
	padding-left: 130px;
	}
.form-nr-docs-edit .form-in{
	background: #FFF2C3;
	}
.form-nr-docs-edit .b1, .form-nr-docs-edit .b2{
	background: #FFF2C3;
	border-color: #FFF8DE;
	}
.form-nr-docs-edit .form-block{
	border-bottom-color:#CBB86F;
	}
.form-nr-docs .tr-edit{
	background: #FFF2C3;
	}

.nr-tbl-drafts{
	margin: 0 0 10px 0;
	font-size: 90%;
	}
.nr-tbl-drafts table{
	width: 100%;
	}
.nr-tbl-drafts table thead th{
	font-weight: 900;
	padding: 0 0 7px 0;
	}
.nr-tbl-drafts table tbody th{
	text-align:center;
	border-bottom: 1px solid #fff;
	padding: 9px 0 0 0;
	}
.nr-tbl-drafts table tbody td{
	border-bottom: 1px solid #fff;
	padding: 8px 15px 10px 0;
	color: #666;
	}
.nr-tbl-drafts table tr.last td, .nr-tbl-drafts table tr.last th{
	border-bottom: 0;
	padding-bottom: 8px;
	}
.nr-draft-imp{
	margin: 0 0 10px 0;
	}
.nr-draft-imp .b1, .nr-draft-imp .b2{
	background: #FFE5E5;
	border-left: 1px solid #FFF2F2;
	border-right: 1px solid #FFF2F2;
	}
.nr-draft-imp .form-in{
	color: #C60000;
	background: #FFE5E5;
	font-size: 90%;
	padding: 5px 13px 7px;
	}
.nr-drafts-btns{
	font-size: 90%;
	}
.nr-draft-user:link, .nr-draft-user:visited{
	color: #666;
	}
.nr-draft-user:hover{
	color: #6BB24B;
	}
.nr-draft-del{
	color: #C60000;
	}
.nr-draft-send{
	font-weight: 900;
	}

.nr-history-tbl{
	width: 870px;
	float:left;
	margin: 0 30px 0 0;
	}
.nr-history-calendar{
	width: 220px;
	float:left;
	padding: 23px 0 0 0;
	}
.nr-history-tbl .tbl-type1{
	font-size: 90%;
	}
.nr-history-tbl .nr-h-sub{
	padding: 0 0 0 11px;
	display:block;
	background: url(../images/sprite-norisk-i.png) no-repeat -425px 3px;
	}
.nr-h-sel1{
	width: 90px;
	}
.nr-h-sel2{
	width: 99%;
	}
.nr-h-sel3{
	width: 280px;
	}

.nr-tabs-in{
	}
.nr-prj{
	margin: 0 0 20px 0;
	}
.nr-prj .form-in{
	padding: 15px 0;
	}
.nr-prj-in{
	margin: 0 15px 0 35px;
	}
.nr-prj-u{
	float:right !important;
	font-size: 90%;
	width: 315px;
	}
.nr-prj-u .b1, .nr-prj-u .b2{
	background: #fff !important;
	border-color: #F8F7F7 !important;
	}
.nr-prj-u-in{
	background: #fff;
	padding: 5px 10px 8px;
	}
.nr-prj-u-in .ac-pro, .nr-prj-u-in .ac-epro{
	float:left;
	margin: 0 6px 0 0;
	}
.nr-prj-un{
	display:table;
	height: 1%;
	}
.nr-prj-in .nr-prj-title{
	background-color: transparent !important;
	font-size: 155%;
	font-weight: 400;
	margin: 0 0 15px;
	line-height: 100%;
	}
.nr-prj-created{
	font-size: 90%;
	color: #666;
	margin: 0 0 2px 0;
	position:relative;
	top:-13px;
	}
.nr-prj-in .nr-tbl-inf{
	margin: 0;
	}
.nr-prj-in .nr-tbl-inf td{
	padding: 8px 0 10px !important;
	text-align:center;
	}
.nr-tbl-inf-list .utxt{
	margin: 0 15px;
	}
.nr-prj-in .nr-tbl-inf td h5{
	text-align:left;
	font-size: 115%;
	line-height: 115%;
	margin: 0 0 5px 0;
	}
.nr-prj-in .nr-tbl-inf td p{
	text-align:left;
	line-height: 130%;
	}
.nr-day-red{
	color: #C80000;
	}

.nr-warning strong{
	color: #E80000;
	}

.nr-prj-btns{
	padding: 20px 0 0 0;
	}
.nr-prj-btns .btn-o-red{
	float:right;
	margin: 0 0 0 15px;
	}
.nr-prj-btns .btn-o-green{
	float:right;
	margin: 0 0 0 15px;
	}
.nr-prj-btns .btn-outline-red{
	float:right;
	margin: 0 0 0 15px;
	}
.nr-prj-btns .btn-outline-red .b1{
	border: none;
	background: #E50000 !important;
	}
.nr-prj-btns .btn-outline-red span{
	background: #E50000;
	display:block;
	padding: 0 1px;
	}
.nr-prj-btns .btn-outline-green{
	float:right;
	margin: 0 0 0 15px;
	position:relative;
	top:-2px;
	}
.nr-prj-btns .btn-outline-green .b1{
	border: none;
	background: #5AA434 !important;
	}
.nr-prj-btns .btn-outline-green span{
	background: #5AA434;
	display:block;
	padding: 0 1px;
	}
.nr-prj-btns .btn-outline-green input{
	padding: 2px 20px 3px !important;
	}
.nr-prj-arb .form-in{
	background: #FFCECE;
	}
.nr-prj-arb .b1, .nr-prj-arb .b2{
	background: #FFCECE;
	border-color: #FFE4E4;
	}
.nr-prj-arb .form-h .b1, .form-h .b2{
	background: #C80000 !important;
	border-color: #E37B7B !important;
	}
.nr-prj-arb .form-h-in{
	background: #C80000;
	font-size: 90%;
	color: #fff;
	line-height: 130%;
	}
.nr-prj-arb .form-h-in h3{
	color: #fff;
	font-size: 160%;
	margin: 0 0 10px;
	}
.form-in .nr-arb-info{
	padding: 0 15px 15px;
	border-bottom: 1px solid #fff;
	}
.form-in .nr-arb-info-in{
	margin: 0 0 0 80px;
	}
.form-in .nr-arb-info-in .added-files-list{
	padding: 15px 0 0 0;
	}
.form-in .nr-arb-info-in .added-files-list li{
	float:left;
	width: 33%;
	}
.nr-arb-info{
	margin: 0 0 10px 0;
	}
.nr-arb-info strong{
	float:left;
	width: 80px;
	}
.nr-arb-info p{
	display:table;
	height: 1%;
	}
.nr-task-arb td{
	background: #FFCCCC;
	}
.lnk-arb{
	display:block;
	padding: 3px 0 0 0;
	}
.lnk-arb a:link, .lnk-arb a:visited{
	color: #A23E3E;
	}
.lnk-arb a:hover{
	text-decoration:none;
	}
.nr-task-overlay{
	width:780px;
	margin: 0 0 0 -390px;
	position:fixed;
	top:50px;
	left: 50%;
	z-index:10;
	}
.nr-task-overlay .ov-in{
	background: #fff url(../images/sprite-norisk.png) no-repeat 20px -105px;
	padding: 15px 20px 15px 120px;
	}
.nr-task-overlay .ov-in h3{
	font-size:17px;
	color: #666;
	font-weight:400;
	}
.nr-task-overlay .form-in{
	padding: 1px 12px;
	}
.nr-task-overlay .ov-in p{
	margin: 12px 0;
	}
.nr-arb-imp{
	color: #E50000;
	}
.nr-arb-fi-close{
	padding: 0 0 0 205px;
	}
.nr-arb-solution{
	width: 100%;
	margin: 12px 0 12px 0;
	}
.nr-arb-solution td, .nr-arb-solution th{
	border-bottom: 1px solid #F0EFED;
	padding: 8px 0 10px 0;
	}
.nr-arb-solution td{
	text-align:right;
	}
.nr-arb-bgrn{
	display:inline-block;
	}
.nr-arb-bgrn .b1, .nr-arb-bgrn .b2{
	background: #74BB54 !important;
	border-color:#B7DCA6 !important;
	}
.nr-arb-bgrn .form-in{
	background: #74BB54;
	color: #fff;
	font-weight:900;
	padding: 1px 12px 3px;
	}

.nr-list-items{
	}
.nr-list-items .flt-bar{
	margin: 0 0 15px 0;
	padding: 8px 15px 9px 15px;
	background: #828282;
	}
.nr-list-items .flt-tgl-lnk:link, .nr-list-items .flt-tgl-lnk:visited, .nr-list-items .flt-tgl-lnk:hover{
	color: #fff;
	background:url(../images/dot_fff.png) repeat-x bottom left;
	}
.nr-list-items .flt-bar h3{
	margin: 0;
	color: #fff;
	font-size: 120%;
	}
.nr-list-items .flt-cnt{
	padding: 0 15px;
	background: #fff;
	position:relative;
	overflow:hidden;
	}
.nr-list-items .flt-cnt .form .b1, .nr-list-items .flt-cnt .form .b2{
	background: #F0EFED;
	border-color:#F7F7F6;
	}

#nr-list-new .flt-bar{
	background: #6BB545;
	}
#nr-list-new .form .b1, #nr-list-new .form .b2{
	background: #E6F5C6;
	border-color: #F2FAE1;
	}
#nr-list-new .form-in{
	background: #E6F5C6;
	}

#nr-list-changed .flt-bar{
	background: #FF6B3D;
	}
#nr-list-changed .form .b1, #nr-list-changed .form .b2{
	background: #F7EDC5;
	border-color: #FBF5E0;
	}
#nr-list-changed .form-in{
	background: #F7EDC5;
	}

#nr-list-changed .flt-bar{
	background: #FF6B3D;
	}
#nr-list-changed .form .b1, #nr-list-changed .form .b2{
	background: #F7EDC5;
	border-color: #FBF5E0;
	}
#nr-list-changed .form-in{
	background: #F7EDC5;
	}

.nr-ch-info{
	position:relative;
	left: -30px;
	padding: 0 0 0 20px;
	width: 395px;
	background: url(../images/nr-red-arr.gif) no-repeat;
	float:left;
	}
.nr-ch-info div{
	background:#E50000;
	color: #fff;
	font-weight:900;
	padding: 8px 15px 8px 23px;
	line-height: 115%;
	text-align:left;
	}
.nr-ch-info2{
	position:absolute !important;
	left: 450px;
	margin: -2px 0 0 0;
	z-index:10;
	}
.nr-ch-info2 div{
	font-weight:400;
	}
.nr-ch-info2 div img{
	float:right;
	position:relative;
	top:2px;
	}
.nr-ch{
	width: 440px;
	}
.nr-prj-arb-form{
	margin: 0 15px;
	}
.nr-prj-arb-form-warning{
	color: #C80000;
	margin: 0 0 15px;
	}
.nr-prj-arb-form table{
	margin: 0 0 15px 0;
	}
.nr-prj-arb-form table th{
	text-align:right;
	font-weight:900;
	}
.nr-prj-arb-form table th, .nr-prj-arb-form table td{
	vertical-align:middle;
	padding: 5px 20px 5px 0;
	}
.nr-prj-arb-form table input{
	width: 60px;
	}
.nr-prj-arb-form table select{
	width: 55px;
	}
.nr-prj-arb-form table a:link, .nr-prj-arb-form table a:visited{
	color: #333;
	}
.nr-prj-arb-form table a:hover{
	color: #62B04B;
	}

.nr-prj-arb-txt{
	margin: 0 0 -5px 0;
	}
.nr-prj-arb-txt textarea{
	display:block;
	height: 100px;
	width: 865px;
	}
.nr-prj-arb-txt label{
	display:block;
	margin: 0 0 4px 0;
	}
.nr-prj-btns .i-btn{
	float:right;
	margin: 0 0 0 10px !important;
	font-size:11px;
	}
.nr-prj-btns label{
	float:left;
	padding: 3px 0 0 0;
	}


.form-reserv .b1, .form-reserv .b2{
	background: #FFF2BF;
	border-color: #FFF8DC;
	}
.form-reserv .form-h .b1, .form-reserv .form-h .b2{
	background: #FF6B3D !important;
	border-color: #FFAD89 !important;
	}
.form-reserv .form-h-in{
	background: #FF6B3D;
	padding: 3px 15px 5px;
	}
.form-reserv .form-h-in h3{
	color: #fff;
	font-size: 12px;
	font-weight: 900;
	margin: 0;
	}
.form-reserv .form-in{
	background: #FFF2BF;
	}
.form-reserv .form-in .form-block{
	border-bottom: none;
	}
.form-reserv p{
	font-size: 13px;
	}
.form-reserv-tbl{
	padding: 13px 0;
	font-size: 11px;
	}
.form-reserv-tbl table{
	width: 100%;
	}
.form-reserv-tbl thead th{
	font-weight:900;
	}
.form-reserv-tbl tfoot th{
	text-align:right;
	padding-right: 10px!important;
	}
.form-reserv-tbl tfoot th span{
	font-size: 14px;
	font-weight: 900;
	}
.form-reserv-tbl th, .form-reserv-tbl td{
	padding: 6px 15px 7px 15px;
	text-align:right;
	}
.form-reserv-tbl tbody{
	background: #FFDC88;
	}
.form-reserv-tbl tbody td{
	border-bottom: 1px solid #FFF2BF;
	}
.form-reserv-tbl tfoot td, .form-reserv-tbl tfoot th{
	padding: 19px 0 7px 15px;
	}

.form-reserv .nr-prj-btns{
	float:right;
	padding: 0;
	font-size: 11px;
	width: 605px;
	}
.form-reserv .nr-prj-btns .btn-o-green{
	margin: 0;
	}
.form-reserv .nr-prj-btns .btn-outline-green{
	top:0;
	}
.form-reserv .nr-prj-btns .btn-outline-green input{
	padding: 0 10px !important;
	font-weight: 900;
	}
.form-reserv-params{
	padding: 0;
	}
.form-reserv-params .form-el{
	margin: 0;
	padding: 7px 0 7px 15px;
	}
.form-reserv-params .form-label3{
	width: 205px;
	padding: 1px 0 0 0;
	}
.form-reserv-params .form-input input{
	width: 340px;
	}
.form-reserv-params .odd{
	background: #FFEA99;
	}
.form-reserv-params .form-hint{
	float:left;
	font-size: 11px;
	padding: 0 0 0 15px;
	}
.form-reserv-params .form-el .tip{
	left: 580px;
	top:-2px;
	}
.nr-res-check{
	display:block;
	padding: 9px 0 0 0;
	float:left;
	}
.nr-res-check input{
	float:left;
	width: 13px;
	height: 13px;
	margin: 0 5px 0 0;
	position:relative;
	top:1px;
	}

.form-complite{
	margin: 0 0 10px 0;
	}
.form-complite .b1, .form-complite .b2{
	background: #E6FDB7;
	border-color: #F2FED9;
	}
.form-complite .form-h .b1, .form-complite .form-h .b2{
	background: #6BB545 !important;
	border-color: #B2D99F !important;
	}
.form-complite .form-h-in{
	background: #6BB545;
	padding: 3px 15px 5px;
	}
.form-complite .form-h-in h3{
	color: #fff;
	font-size: 12px;
	font-weight: 900;
	margin: 0;
	}
.form-complite .form-in{
	background: #E6FDB7;
	}
.form-complite .form-in .form-block{
	border-bottom: none;
	border-top-color: #6BB545;
	}
.form-complite p{
	margin: 0 0 14px 0;
	}
.form-complite textarea{
	width: 865px;
	height: 90px;
	}
.form-complite .ops-type{
	list-style:none;
	padding: 2px 0 6px 0;
	margin: 0;
	}
.form-complite .ops-type li{
	display:inline-block;
	padding: 0 46px 0 0;
	float: left;
	font-weight:900;
	line-height: 15px;
	}
.form-complite .ops-type li input {
	margin: 1px 5px 0 0 !important;
	padding: 0 !important;
	vertical-align: top;
	}
.form-complite .ops-type li.active{
	background: #fff;
	}
.form-complite .ops-type li.active a:link, .form-complite .ops-type li.active a:visited{
	background: none;
	}
.form-complite .employer-name:link, .form-complite .employer-name:visited, .form-complite .freelancer-name:link, .form-complite .freelancer-name:visited{
	text-decoration:underline;
	}
.form-complite .employer-name:hover, .form-complite .freelancer-name:hover{
	text-decoration:none;
	}
.form-complite-txt{

	}
.form-complite .nr-prj-btns{
	float:right;
	padding: 0;
	font-size: 11px;
	}
.form-complite .nr-prj-btns .btn-outline-green{
	top:0;
	}
.form-complite .nr-prj-btns .btn-outline-green input{
	padding: 0 10px !important;
	}
.form-complite-stars{
	float:left;
	width: 415px;
	}
.form-complite-stars .ops-nr-vote{
	float:none;
	width: auto;
	}

.form-complite .stars .lnk-dot-grey{
	font-size: 11px;
	}
.form-complite .stars li label{
	float:left;
	width: 125px;
	}
.form-complite .stars li span{
	float:left;
	}
.form-complite .stars .sl{
	width: 175px;
	}
.form-complite .stars .s:focus, .form-complite .stars .sx:focus{
  outline: none;
	}
.form-complite .stars .s:link, .stars .s:visited{
	background-image: url(/images/nr-star.gif) !important;
	background-repeat: no-repeat;
	margin:0px;
	}
	
.form-complite .stars .sx:link, .stars .sx:visited{
    background-image: url(/images/nr-star-a.png) !important;
    }
    	
.stars .s-a:link, .stars .s-a:visited, .stars .s-a:hover{
    background-position: 0 -14px !important;
	}
.form-complite .nr-csum{
	padding: 0 0 2px 0;
	line-height: 24px;
	}

.form-ac .b1, .form-ac .b2{
	background: #FFCECE;	
	border-color: #FFE5E5;
	}
.form-ac .form-h .b1, .form-ac .form-h .b2{
	background: #C80000 !important;
	border-color: #E37B7B !important;
	}
.form-ac .form-h-in{
	background: #C80000;
	padding: 3px 15px 5px;
	}
.form-ac .form-in{
	background: #FFCECE;
	}
.form-ac .form-in .form-block{
	border-bottom: none;
	border-top-color: #C80000;
	}
.form-acw{
	float:left;
	margin: 2px 0 0 0;
	}
.form-acw .form-in{
	color: #C80000;
	padding: 6px 12px 7px;
	}

.form-changed-btns{
	margin: 0 0 25px 0;
	}
.form-changed-btns .b1, .form-changed-btns .b2{
	background: #FFF2BF;
	border-color: #FFF8DD;
	}
.form-changed-btns .form-in{
	background: #FFF2BF;
	}
.form-changed-btns .nr-prj-btns{
	position:relative;
	}

.form-changed-btns .nr-prj-btns{
	padding: 10px 10px 6px 50px;
	}
.form-changed-btns .nr-prj-btns input{
	color: #333;
	}

.form-nr-frlc .b1, .form-nr-frlc .b2{
	background: #FFE5E5;
	border-color: #FFF1F1;
	}
.form-nr-frlc .form-h .b1, .form-nr-frlc .form-h .b2{
	background: #E50000 !important;
	border-color: #F27070 !important;
	}
.form-nr-frlc .form-h-in{
	background: #E50000;
	padding: 3px 15px 5px;
	}
.form-nr-frlc{
	margin: 0 0 30px 0;
	}
.form-nr-frlc .i-btn{
	font-size: 12px;
	color: #333;
	}
.form-nr-frlc .form-in{
	background: #FFE5E5;
	}
.form-nr-frlc .form-in .form-block{
	border-bottom: none;
	border-top-color: #fff;
	}
.form-nr-frlc .reason-title{
	float:left;
	margin: 0 10px 0 0;
	}
.form-nr-frlc .reason-txt{
	display:table;
	height: 1%;
	}

.nr-money-type li{
	float:left;
	width: 172px;
	list-style-type:none;
	display:block;
	}
.nr-money-type input {
	margin: 1px 2px 0 0 !important;
	padding: 0 !important;
	vertical-align: top;
	}


.form-changed{
	margin: 0 0 25px;
	}
.form-changed .b1, .form-changed .b2{
	background: #F3F2F0;
	border-color: #F8F8F7;
	}
.form-changed .form-h .b1, .form-changed .form-h .b2{
	background: #FF6B3D !important;
	border-color: #FFB198 !important;
	}
.form-changed .form-h-in{
	background: #FF6B3D;
	padding: 3px 15px 5px;
	}
.form-changed .form-h-in h3{
	color: #fff;
	font-size: 12px;
	font-weight: 900;
	margin: 0;
	}
.form-changed .form-in{
	background: #F3F2F0;
	}
.form-changed .form-in .form-block{
	border-bottom: none;
	}
.form-changed .block-new{
	background: #FFF2BF;
	position:relative;
	}
.nr-prj-ch-num{
	position:absolute;
	top: 13px;
	left: 15px;
	color: #9C957C;
	}
.form-changed .form-el{
	padding-left: 25px;
	}
.form-changed .list-files{
	font-size: 11px;
	}
.form-changed .date-old{
	color: #9C957C;
	text-align:right;
	}
.form-changed .rarr{
	color: #62B04B;
	font-size: 14px;
	}
.form-changed .block-old .flt-tgl-lnk{
	float:none;
	}
.form-changed p{
	margin: 0 0 14px 0;
	}
.form-changed .flt-cnt{
	padding: 14px 0 0 0;
	}
.form-changed table th{
	font-weight: 900;
	width: 175px;
	}
.form-changed .nr-budjet-details table th{
	width: auto;
	}

.nr-finish{
	padding: 3px 0 0 0;
	}
.nr-cancel-reason{
	border: 1px solid #FF9191;
	background: #fff;
	font-size: 11px;
	margin: 10px 0 0 0;
	padding: 7px 10px 8px;
	}
.nr-cancel-reason strong{
	float:left;
	margin: 0 10px 0 0;
	}
.nr-cancel-reason p{
	display:table;
	height:1%;
	}
.f-o-nr-c{
	width: 386px;
	height: 214px;
	background: url(../images/overlay-nr-cancel.png) no-repeat;
	position:absolute;
	z-index:10;
	bottom: 20px;
	left: 50%;
	margin: 0 0 0 -183px;
	}
.f-o-nr-c .f-overlay-in{
	height: 192px;
	}
.f-o-nr-c .f-overlay-btns{
	width: 348px;
	}
.f-o-nr-c .i-btn{
	float:none;
	margin: 0 !important;
	}
.f-o-nr-c .f-overlay-cnt textarea{
	width: 340px;
	height: 105px;
	}
.tip1{
	left: 295px;
	}
.tip2{
	left: 285px;
	top: 45px;
	}
.tip3{
	left: 160px;
	top: 12px;
	z-index: 100 !important;
	}
.tip4{
	left: 160px;
	top: 200px;
	z-index: 100 !important;
	}
.tip5{
	left: 160px;
	top: 12px;
	z-index: 100 !important;
	}
.tip6{
	left: 160px;
	top: 14px;
	z-index: 100 !important;
	}
.tip7{
	left: 160px;
	top: 23px;
	z-index: 100 !important;
	}

/***** ошибка с правым уголком *****/

.tip-r {
	padding-right: 13px;
	background: url("/images/tooltip-rc-r.png") right 0 no-repeat;
	}

	.tip-r .tip-in {
		padding-left: 5px;
		background: url("/images/tooltip-lc-r.png") 0 0 no-repeat;
		}

/***** // ошибка с правым уголком *****/

.td-expand{
	vertical-align:top !important;
	}
.expand-out{
	padding-top:20px;
	}
.e-label{
	float:left;
	padding: 3px 0 0 0;
	}


.form-files-list .sbr-btn-add { background: url(/images/btn-add.png) !important; border:0; padding:0; margin: 0; height:21px; width:21px; }
.form-files-list .sbr-btn-del { background: url(/images/btn-remove3.png)!important; border:0; padding:0; margin: 0; height:21px;  width:21px; font-size:0; }
input[type="button"]::-moz-focus-inner {border:none}
a.nr-task-anchor {text-decoration:none;color:inherit;padding-top:10px}
.tip {display:none} /* ie8 в режиме совместимости глючил */
.tip-v {display:block} /* ie8 в режиме совместимости глючил */

.nr-form-cause .form-in{
	max-height:200px;
	overflow:auto;
	}

.nr-block-imp{
	margin: 0 0 10px 0;
	}
.nr-block-imp .b1, .nr-block-imp .b2{
	background: #FFE5E5 !important;
	border-left: 1px solid #FFF2F2 !important;
	border-right: 1px solid #FFF2F2 !important;
	}
.nr-block-imp .form-in{
	background: #FFE5E5 !important;
	padding: 13px 13px 15px;
	}

.nr-block-comission-w {
	width: 730px;
	float: left;
	}
	.nr-block-comission {
		padding: 11px 15px 10px 13px;
		float: left;
		}

.form-nr-scheme{
	margin: 0 0 10px 0;
	}
.form-nr-scheme-ul{
	float:left;
	width: 170px;
	list-style:none;
	}
.form-nr-scheme-ul li{
	margin: 0 0 7px 0;
	}
.form-nr-scheme-tbl{
	float:left;
	border-left: 1px solid #B6B5B4;
	padding: 0 0 0 20px;
	position:relative;
	}
.form-nr-scheme-tbl th{
	width: 406px;
	}
.form-nr-scheme-tbl th, .form-nr-scheme-tbl td{
	padding: 7px 0;
	}
.form-nr-scheme-tbl .col-sum{
	text-align:right;
	}
.nr-sheme-sum{
	font-size:16px;
	}

.form-changed .nr-block-imp{
	margin: 0 0 5px;
	}
.nr-budjet-details{
	margin: 10px 0;
	}
.nr-budjet-details .b1{
	background-color: #ccc !important;
	}
.nr-budjet-details .b2{
	background-color: #fff !important;
	border-width: 2px;
	}
.nr-budjet-details .b1, .nr-budjet-details .b2{
	border-color: #E2E2E2 !important;
	}
.nr-budjet-details .form-in{
	background: #fff !important;
	border-left: 1px solid #CCC !important;
	border-right: 1px solid #CCC !important;
	padding: 0px;
	}
.nr-budjet-details .form-in table{
	width: 100%;
	}
.nr-budjet-details .form-in table caption{
	font-weight:900;
	text-align:left;
	padding: 5px 0 7px 10px;
	}
.nr-budjet-details .form-in table td, .nr-budjet-details .form-in table th{
	padding: 7px 10px;
	}
.nr-budjet-details .form-in table td.last {
	padding-right: 20px;
	text-align: right;
	}
.nr-budjet-details .form-in tbody td, .nr-budjet-details .form-in tbody th{
	border-bottom: 1px solid #ECECEC;
	font-weight:400;
	}

.nr-budjet-details .form-in  td{ text-align:center; border-right:1px solid #ccc; vertical-align:middle; font-size:11px; color:#666}
.nr-budjet-details .form-in  td.first{ text-align: left}
.nr-budjet-details .form-in tbody td.last{ border-right:0; padding-right:0; text-align:center}
.nr-budjet-details .form-in .utxt h5{ margin:0}
.nr-budjet-details .form-in .utxt h5 a{ font-size:14px}
.nr-budjet-details .form-in tfoot td{ background:#f3f2f0; border-right:0; border-bottom:1px solid #f3f2f0; color:#333; font-size:12px}
.nr-budjet-details .form-in tfoot tr.last td{ border-bottom:0}
.nr-budjet-details .form-in table { margin-bottom:-1px}














.arb_descr_box{
	position:absolute;
	width:100%;
	margin-top:-400px;
	display:none;
	}

.tip-largefile{
	height: 1px;
	font-size:1px;
	position:relative;
	}

.nr-prj-arb-inf{
	margin: 0 0 15px 0;
	}
.nr-prj-arb-inf textarea{
	display:block;
	width: 865px;
	}
.nr-prj-arb-inf textarea#bx_arb_reason{
	height: 60px;
	}
.nr-prj-arb-inf textarea#bx_arb_init{
	height: 150px;
	}
.nr-prj-arb-inf textarea#bx_arb_result{
	height: 180px;
	}
.nr-prj-arb-inf .both{
	display:block;
	margin: 10px 0 0 0;
	}
.nr-prj-arb-inf-sel{
	margin: 0 0 10px 0;
	}
.nr-prj-arb-inf-sel label{
	display:inline-block;
	width: 105px;
	font-weight:900;
	}

.nr-arb-why-in{
	display:none;
	}
.nr-arb-why-show .lnk-dot-666:link, .nr-arb-why-show .lnk-dot-666:visited{
	background: none;
	font-weight: 900;
	}
.nr-arb-why-show .nr-arb-why-in{
	display:block;
	}
.nr-arb-why{
	color: #666;
	}
.nr-arb-why .d{
	color: #999;
	}
.nr-mn{
	font-weight:900;
	font-size:11px;
	text-align:left;
	margin: 0 15px;
	}
.nr-mn a:link, .nr-mn a:visited{
	background: url(../images/icons/icon_mail.gif) no-repeat 0px 2px;
	padding: 0 0 0 22px;
	}

.form-el-resident{
	margin: 0  !important;
	padding-bottom:15px;
	}
.form-resident-inf{
	margin: 10px 0 0 17px;
	}
.form-resident-inf .form-in{
	padding: 5px 10px 7px;
	}

.nr-form-btns .todrafts{
	padding-right: 0;
	}

.nr-prj-rez{
	margin: 0 0 15px 0;
	}
.nr-prj-rez .form-in{
	padding: 5px 10px 7px;
	}

/****************************** сообщения после отправки отзыва СБР ******************************/

.resp-thanks {
	margin: 0 0 22px 0;
	}
	.resp-thanks .form-in {
		padding: 14px 15px 13px;
		line-height: 18px;
		}
		.resp-thanks .form-in strong {
			display: block;
			color: #940000;
			}
		.resp-thanks .form-in em {
			font-weight: bold;
			font-style: normal;
			}



.finanse-require a{ color:#A23E3E}
.finanse-require { padding-top:15px}
.finanse-require .form-in{ padding:5px 10px}
.nr-prj-in h4{  font-size:12px}



.page-calc{ background:url(../images/calc.jpg) 25px 20px no-repeat; padding:20px 0 0 100px;}
.page-calc p{ font-size:12px; color:#666; padding-bottom:20px}
.b-type { border-top:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0; padding:20px 0 0}
.b-type .form-l{ width:155px}
.b-type .form-el{ padding-bottom:20px; margin:0}
.calc-select{ padding:15px 0}
.calc-select li{ float:left; padding-right:15px; list-style:none}
.calc-select li a{ font-size:12px; text-decoration:none; border-bottom:1px dotted #666; color:#666}
.calc-select li a.active{ border-bottom:0; color:#fff; background:#74bb54; padding:2px 4px}
.page-calc .form-block{ padding-left:0; border:0; clear:both}
.page-calc .form-block .form-l{ width:155px}
.page-calc .form-block .i-txt{ margin-right:5px !important}
.page-calc .form-first .form-l{ font-size:16px}
.page-calc .form-hint span{  color:#444; font-size:12px; }
.page-calc .form-hint { white-space: nowrap; width:530px; display:inline-block; }
.page-calc .form-first .form-hint span{ font-size:15px;  padding-right:20px}
.page-calc .i-txt{ font-size:16px; width:100px}
.page-calc .form{ width:600px; position:relative; margin-bottom:10px; display:none; overflow:hidden; }
.page-calc .active{ display: block }
.page-calc .form-in{ padding:5px 10px 0; font-size:11px; color:#666; float:left; width:580px}
.page-calc .form-in a{color:#666}
.page-calc .form-in td{ padding-bottom:5px; vertical-align:middle}
.page-calc .form-in .first{ width:150px}
.page-calc .form-in .second{ width:105px}
.page-calc .form-in .third{ width:60px}
.page-calc .form-in .fourth{ color:#999}
.page-calc .calc-y{ background:url(../images/calc-y.gif) 0 0 no-repeat; width:15px; height:8px; display:block; position:absolute; top:-8px; left:160px; z-index:5}
.page-calc .form-el{ clear:both;}


.form-reserv .fs-p{ margin-bottom:10px}
.form-reserv .fs-p .form-in{ padding:5px 10px}


.resident-info{ padding-top:20px; padding-bottom:10px}
.resident-info p{ padding-bottom:5px}
.sbr-attent{ background:#d80001; color:#fff; padding:5px; display:inline-block; margin-top:30px }
.r_positive, .r_positive a{color: #22b14c;}
.r_neutral, .r_neutral a{color: #666666;}
.r_negative, .r_negative a{color: #ed1c24;}
.sbr-user { width:350px; position: absolute; z-index:5; right:0}
.sbr-user p { font-size:11px; color:#333 }
.sbr-user p a{ color:#666}
.nr-form-frl .form-block{ position:relative}



.nds { color:#999; padding:0 5px !important}






.nr-discuss-comment .form-files-list {width: 290px;}
.nr-discuss-comment .form-files-list li{width: 290px;}


#createFrm .form-el{ margin-bottom:0; padding-bottom:10px;}


