*{
	margin: 0;
	padding: 0;
	}
html, body{
	font: 100.01% Tahoma, sans-serif;
	color: #333;
	background: #fff;
	overflow:auto;
	height:100%;
	} 
a:link, a:visited{
	color: #74BB54;
	text-decoration:underline;
	}
a:hover{
	color: #74BB54;
	text-decoration:none;
	}
a img{
	border: 0;
	}
h1{
	font-size: 190%;
	font-weight:400;
	float:left;
	margin: 0 30px 0 0;
	}
h2{
	font-size: 190%;
	font-weight:400;
	color: #8EB6EE;
	}
input{
	font-size: 115%;
	vertical-align:middle;
	}
.c{
	height: 1%;
	}
.c:after{
	content: ".";
	display:block;
	overflow:hidden;
	height: 0;
	clear:both;
	visibility:hidden;
	}
.error{
	display:block !important;
	}
.container{
	font-size:70%;
	padding: 20px 0 7px;
	margin: 0 30px;
	background: #fff;
	text-align:left !important;
	}
.header{
	margin: 0 0 35px 0;
	position:relative;
	}
.content{
	margin: 0 0 15px 0;
	}
.webim-form{
	margin: 0 0 15px 0;
	}
.webim-form .b1{
	display:block;
	overflow:hidden;
	height: 1px;
	margin: 0 1px;
	border-left: 1px solid #F9F9F9;
	border-right: 1px solid #F9F9F9;
	background: #F4F4F4;
	}
.webim-form .b2{
	display:block;
	overflow:hidden;
	height: 1px;
	border-left: 1px solid #F9F9F9;
	border-right: 1px solid #F9F9F9;
	background: #F4F4F4;
	}
.form-in{
	background: #F4F4F4;
	padding: 15px 15px 5px;
	}
.form-in p{
	margin: 0 0 10px 0;
	}
.form-in ul{
	list-style: none;
	margin: 0 0 10px 0;
	}
.form-in ul li{
	display:block;
	margin: 0 0 2px 0;
	}
.form-el{
	margin: 0 0 10px 0;
	}
.form-label{
	float:left;
	width: 110px;
	}
.form-ctrl{
	float:left;
	}
.form-ctrl2{
	float:left;
	width: 100%;
	}
.form-ctrl input{
	width: 155px;
	}
.form-ctrl textarea{
	width: 435px;
	}
.f-info{
	margin: 0 0 0 15px;
	color: #666;
	}
.f-pager{
	float:right;
	padding: 0 15px 0 0;
	color: #666;
	}
.webim-btn{
	text-align:right;
	margin: 0 0 15px 0;
	}
.webim-btn span{
	float: left;
	margin: 0 0 12px 0;
	font-weight: bold;
	font-size: 12px;
	color: #4F4F4F;
	}
.chat-btns{
	float:right;
	margin: -3px 0 0 0 !important;
	}
.chat-btns li{
	float:left;
	padding: 0 0 0 33px;
	margin: 0 !important;
	}
#histry{
	border: 1px solid #E3E3E3;
	background:#fff;
	min-height:150px;
	}
#thread{
	height: 220px;
	}
.form-ctrl2 #message-area{
	border: 1px solid #E3E3E3;
	width: 100%;
	height: 55px;
	display:block;
	}
.footer{
	text-align:center;
	color: #666;
	}
.footer a:link, .footer a:visited{
	color: #666;
	}
.window-close, .window-close-simple{
	position:absolute;
	top: -15px;
	right: 0px;
	}

.feedback-form-select .ffs-b .form-btns .btnr-green2{
	float:left !important;
	clear:both;
	}
.form-in div.last{ overflow:hidden}	
	
.form-el textarea{ border:0 !important; padding:0; margin:0;}
