.b-icon__prj_vac, .b-icon__prj_prj, .b-icon__prj_cont{
	background-position:0 0;
	background-repeat:no-repeat;
	background-size:contain;
	}
.b-icon__prj_vac{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAoFJREFUeNq8lmFEnVEYx991r8tljBijiSjN2GyiiWgud0pEM7Zdti9lI6VP7UvRl1L2LY3Yp5i1pU9LGcsim83GtchmKWJKERExLtft//B/czqd97z3Pffq4ad7znvO+Xee8zzPORcKhYL3bmbGs9gN8Aw0gQbt2wHYAnnwHbwB2aCFHmcyJ7/jnt0GwBiIBXyvJGKNoB+MgqGQdb0Ky7eH4KVFNMgGwRNX4RhFXW3QVbgGVJcgXM81nFxdquVchLcYsa4mc3dchCU9pksQfh3ljBPMVeEKGAdHDqIyZ4I532HI/VN5LDn4UclJf4Gcg7B4awNcVPrE7Y/AV33HC5qox4mVDsKXNFGxKvDWtOM1kOIul1n+kiBN10exVbAI/nNuimutm4TbWJP/cIJvwzyjflayhCV15hkXWYPn6rm5M8I5S3GX/qegBzSD61zI4y7WeXaHlmDLBgWXWrE+gVrlH1pjwKwqf/2FkozcB/SYf5slFLffZ12wCqcVUT/FGpTIj2q3QDt4FVZAVkqsWCY3LxZTueS86sCUFmRR7ZBF5JrJzUEPgQMG0gumQjPdfVk5R93+8dx9lhgPgRYPcdM8MT2HjoJ2U4zFI46XKP6ilcc75yGcMBT9WJhby/EQaCmyryzCkr+TYBd8MHz/DLY5pqkcwtW8UX6AXt7RO1qa5dlXxTHfeL3WugpLCfwNMhSSynMbXAXq63+KfffYL2NbwS/QGTW45MzeK+/pm2BT26UabB7zdomXx1/eSHPgrnr5h+14RHvEq8Ej7u5S2l3s861Vi/aRKK7OW9o5rZ3X2vsha1mFn4OfFJnWzlTKaTfYI92a2CxfmP793hckfCzAAEK3lNjrHOYSAAAAAElFTkSuQmCC");
	width:15px;
	height:15px;
	}
.b-icon__prj_prj{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZpJREFUeNrEljFLAzEUx6+54loQnPwAguDkquAidBBBcXZydHYSy3XU1Q8glBYHQXASB9FvIDgdFASnQsFJEAS5/h8kEGPeS+5S8MFvaC73fnfkn0tbo+EwY+oMFOAVfIN3MAWf4BK86XlrYBusgAX9m2od9EDf17wdkGZOI6or/RCmxuAcdD19TI8/chWQukXSI/BjjX2BfXDP3FPonqK4rrSxXEVKHwWpK3+OkasIKdUG2MvCtWplQpS3I6SZTquJ/w0zh8L3ABYDvQrzxjkzYQRKj/wgUjrRS+SrXDF7jYJ0CLYi5JyU7t3xBI5cPbPGttxO7yQgl6SlJ+197fr1AaGBF3DnpNc0etJfJ1tOjTuM1E07PeiA28e3zJbh3jwkteWD0JeLK6nxVLjmrTpiqmWw5BnvBPZvkljap9JWSxJz6R078utYuUqQ0ppuOuuax8pVgrRkAhclVwlSaSwoV4nSxnI1B2kjuZqTtLbcFe8mSEPyriSmg+IiQcrJzYkn/r09AR/6wGgideXH4NS92KqqKvuPmgkwAHMdlI6Cuz90AAAAAElFTkSuQmCC");
	width:15px;
	height:13px;
	}
.b-icon__prj_cont{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOlJREFUeNrkVFEKgzAMbYvXqXcR+jMP6H4E7yH0Zx7C3iKrUEeRpksksrE9eFhKmseLSTQAqB33YdiPj0irZLBEttvh1vevS4MET0oOxVyY8CgoPHKEl0SJMi8U4TUSEiX+sc3yrTVhr66DpwhvXagzcpG/bSnCc/p2gk47jmMnKOwOporCIdEKNpfN8lbHyQuWu8OatiQ8C5bbYcJNxfE+g2cAiBlSqS+bYUw4HOYwn0UK2sL7QN3VZ3c3eccbhpNJKIYtPArFoF1dK6NGupa9z436EP5PuGHGw5t7/TOOgRmnv9bxU4ABAInEOKD6dg2OAAAAAElFTkSuQmCC");
	width:15px;
	height:13px;
	}











