.b-menu_promo{
	padding-top:20px;
	width:240px;
	top:80px;
	}
.b-menu_promo .b-menu__item{
	display:block;
	float:none;
	clear:both;
	text-align:left;
	position:relative;
	}
.b-menu_promo .b-menu__link{
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#6db335;
	border-radius:3px;
	padding:5px 10px;
	display:inline-block;
	margin-bottom:10px;
	}
.b-menu_promo  .b-menu__item_active .b-menu__link{
	color:#0f71c8;
	background-color:#e1e1e1;
	}
.b-menu_promo  .b-menu__item_active:after{
	content:'\00a0';
	display:block;
	width:7px;
	height:14px;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAOBAMAAAARcxsoAAAAMFBMVEX///9paWr19fX8/PxsbG35+fl5eXp1dXZycnNvb3BgYGFVVVZJSUo3NzhCQkM/P0B51QsxAAAAM0lEQVQI12NgYGC/ACT6FRgYOA8BGd4BDAyMi4EMQQYgSIATIiDCECgBVgJVzNCnADYAABtACDWIWKg4AAAAAElFTkSuQmCC") 0 0 no-repeat;
	position:absolute;
	right:-1px;
	top:8px;
	}
.b-menu__ask{
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#000;
	padding:10px;
	border-radius:3px;
	background-color:#f5f5f5;
	width:200px;
	}
.i-menu__promo{
	border-right:1px solid #000;
	}


