<?xml version="1.0"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<!-- see http://www.phpunit.de/wiki/Documentation -->
<!--phpunit bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         stopOnFailure="true">
</phpunit-->

<!-- phpunit colors="false" /-->


<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <!--testsuites>
        <testsuite name="Universal Analytics Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites-->
</phpunit>
