.b-fon_bg_74bb54 .b-fon__body{ 
	background:#74bb54;
	color:#fff;
	}
.b-fon_bg_74bb54 .b-fon__body .b-fon__txt{ 
	color:#fff;
	}
.b-fon_bg_74bb54 .b-fon__b1{ 
	background:#74bb54;
	}
.b-fon_bg_74bb54 .b-fon__b2{ 
	background:#74bb54;
	}
.b-fon_bg_74bb54 a.b-fon__link{ 
	color:#fff;
	}
.b-fon_bg_74bb54 .b-fon__b1, .b-fon_bg_74bb54  .b-fon__b2 {
    border-color: #abd28d !important;
	}
	
	
	


