.b-fon_bg_8fd15f .b-fon__body{ 
	background:#8fd15f;
	color:#fff;
	}
.b-fon_bg_8fd15f .b-fon__body .b-fon__txt{ 
	color:#fff;
	}
.b-fon_bg_8fd15f .b-fon__b1{ 
	background:#8fd15f;
	}
.b-fon_bg_8fd15f .b-fon__b2{ 
	background:#8fd15f;
	}
.b-fon_bg_8fd15f a.b-fon__link{ 
	color:#fff;
	}
