.b-fon_bg_ffeda9 .b-fon__body{
	background:#ffeda9;
	}
.b-fon_bg_ffeda9 .b-fon__body{ 
	background:#ffeda9;
	}
.b-fon_bg_ffeda9 .b-fon__b1{ 
	background:#ffeda9;
	}
.b-fon_bg_ffeda9 .b-fon__b2{ 
	background:#ffeda9;
	}







