.b-fon_bg_ff6d2d .b-fon__body{ 
	background:#ff6d2d;
	color:#fff;
	}
.b-fon_bg_ff6d2d .b-fon__body .b-fon__txt{ 
	color:#fff;
	}
.b-fon_bg_ff6d2d .b-fon__b1{ 
	background:#ff6d2d;
	}
.b-fon_bg_ff6d2d .b-fon__b2{ 
	background:#ff6d2d;
	}
.b-fon_bg_ff6d2d a.b-fon__link{ 
	color:#fff;
	}
