
.b-frm-filtr{
	padding:10px 10px;
	border:1px solid #e6e6e6;
	margin-bottom:15px;
	}
.b-frm-filtr_pad_15{
	padding:15px;
	}
.b-frm-filtr__item{
	margin:0;
	padding:0;
	display:block;
	border:0;
	border-bottom:1px solid #e6e6e6;
	margin-bottom:15px;
	padding-bottom:10px;
	}
.b-frm-filtr__item_last{
        margin-bottom: 0px;
        padding-bottom: 0px;
        border: 0;
        }        
.b-frm-filtr__item_reset{
	border:0;
	margin:0;
	padding:0;
	}
.b-frm-fltr__title{
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#000;
	display:block;
	margin:0;
	padding:0;
	padding-bottom:10px;
	}
.b-frm-fltr__spec{
	padding:0px 20px 0px 10px;
	height:19px;
	line-height:19px;
	border-radius:12px;
	display:inline-block;
	background:#bcbebf;
	font-size:11px;
	color:#fff;
	margin-right:5px;
	margin-bottom:5px;
	position:relative;
	max-width:180px;
	overflow:hidden;
	}
.b-frm-fltr__spec_dop{
	background:#6db335;
	}	
	
.android.chrome .b-frm-fltr__spec{
	line-height:20px;
	}
.b-frm-fltr__spec:before{
	content:'\00a0';
	display:block;
	position:absolute;
	left:175px;
	top:0;
	z-index:1;
	height:19px;
	line-height:19px;
	width:35px;
	background: -moz-linear-gradient(right, #bcbebf 17px, hsla(200, 2%, 74%, 0));
	background: -webkit-linear-gradient(right, #bcbebf 17px, hsla(200, 2%, 74%, 0));
	background: -o-linear-gradient(right, #bcbebf 17px, hsla(200, 2%, 74%, 0));
	background: -ms-linear-gradient(right, #bcbebf 17px, hsla(200, 2%, 74%, 0));
	background: linear-gradient(right, #bcbebf 17px, hsla(200, 2%, 74%, 0));
	border-radius:0 12px 12px 0;
	}
.b-frm-fltr__spec_dop:before{
	background: -moz-linear-gradient(right, #6db335 17px, hsla(200, 2%, 74%, 0));
	background: -webkit-linear-gradient(right, #6db335 17px, hsla(200, 2%, 74%, 0));
	background: -o-linear-gradient(right, #6db335 17px, hsla(200, 2%, 74%, 0));
	background: -ms-linear-gradient(right, #6db335 17px, hsla(200, 2%, 74%, 0));
	background: linear-gradient(right, #6db335 17px, hsla(200, 2%, 74%, 0));
	}
.b-frm-fltr__spec-close{
	font-weight:bold;
	cursor:pointer;
	position:absolute;
	top:0;
	right:5px;
	z-index:2;
	background:#bcbebf;
	height:19px;
	width:15px;
	text-align:right;
	border-radius:0 12px 12px 0;
	}
.b-frm-fltr__spec_dop .b-frm-fltr__spec-close{
	background:#6db335;
	}
.b-frm-fltr__spec-close:before{
	content:'\00d7';
	color:#f7f8f8;
	font-size:18px;
	font-family:Helvetica, sans-serif;
	cursor:pointer;
	line-height:1;
	}
.b-frm-fltr__spec-close_hover:before{
	color:#c5837f;
	}
.b-frm-fltr__spec-close:hover:before{
	color:#c5837f;
	}
.android.chrome .b-frm-fltr__spec-close:before{
	line-height:19px;
	}
.msie .b-frm-fltr__spec-close:before{
	position:relative;
	top:1px;
	}
.b-frm-filtr__opinion{
	height:1px;
	background:#888c8f;
	border-bottom:1px solid #e5e5e5;
	margin-top:12px;
	margin-bottom:10px;
	position:relative;
	}
.b-frm-filtr__opinion_width_200{
	width:200px;
	}
.b-frm-filtr__opinion_inline-block{
	display:inline-block;
	}
.b-frm-filtr__point_2{
	width:20px;
	height:20px;
	position:absolute;
	top:-8px;
	cursor:pointer;
	margin-left:1px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASBAMAAACk4JNkAAAAJ1BMVEUAAACAgICAgICAgICAgICAgICAgICAgICAgICAgID////Y2NicnJwix6mCAAAACXRSTlMAQe7BmCT52syCTvZgAAAAY0lEQVQI12NgYGD0yGwRYAACVsuZM2dODgCyhGaCgCJQSBPMmhTAwDzz9MxVM/fMNGCQnLkLyFo9cyKDJ5AGwSkMlVDWdIZMKGsagyaMhZBF6ECYgjAZYRvCBQhXgV06E+RSACY8Sr1AGToEAAAAAElFTkSuQmCC");
	background-position:0 0;
	background-repeat:no-repeat;
	}

.b-frm-filtr__subitem {
    width: 49%;
    display: inline-block;
}

.b-frm-filtr__subitem:first-child {
    margin-right: 2%;
    float: left;
}

.b-frm-filtr__subitem .b-button_flat.b-button_flat_grey {
    width: auto;
    line-height: 26px;
    height: 26px;
    padding: 0 10px !important;
}
