.b-button_ar{
	width:13px;
	height:12px;
	padding:0 !important;
	background-repeat:no-repeat;
	background-position:0 0;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF5JREFUeNpi5M8/speBgcGJgXiwjwWqgZEETf+ZGMgAA6cpB4j/gNyNhP9AxXFqmgLEPkD8Bcr/AuVPIeS8HUBsC8QXgNgBykcBLDicDdJgOPChxwJ1838S9OwACDAAkycUAbNVs1wAAAAASUVORK5CYII=");
	}

.b-button_ar.b-button_disabled{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGFJREFUeNpi3L9373YGBgYPBuLBDhaoBkYSNP1nYiADUEVTDhD/ATkBCf+BiuPUNAWIfYD4C5T/BcqfQsh5O4DYCoiPQOkd6ApYcDj7MhDb0jQgaKcJ5Kd90KAlFuwDCDAAqv8U/lO8LNYAAAAASUVORK5CYII=");
	cursor:default;
	}
.b-button_ar_revers{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFpJREFUeNpi5M8/sp2BgcGDgXiwgwWqgZEETf+ZGMgAVNVkDMTngdiAWE0gPx6AajiMLZDQNeUA8RYg5oHyeaD8HGRFjMAg/z/0Qg8vAKWIfSB3kqBnH0CAAQAOXQ/ldQtV1AAAAABJRU5ErkJggg==");
	}
.b-button_ar_revers.b-button_disabled{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFdJREFUeNpi3L93714GBgYnBuLBPhaoBkYSNP1nYiADDLwmXSA+DKWJ0uQBxMeA2AZKexDSlAPEW4CYB8rngfJzkBUxAuPp/+ANclCK2AGykgQ9OwACDABZLhHHyhjwxwAAAABJRU5ErkJggg==");
	cursor:default;
	}






