
.b-icon__cont{
	display:inline-block;
	border:0;
	background-repeat:no-repeat;
	background-position:0 0;
	width:16px;
	height:16px;
	}
.b-icon__cont_tel{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAS1BMVEUAAAB5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sirns9H6AAAAGHRSTlMAGrtXB+zRyKF3JvuulpGCQQ/d2PVxY1DcEj0iAAAAh0lEQVQY023NSw7DMAgEUEOI7dqJP/nO/U9asKpsmrcBRhrhXsgUw6xCnMRu2vHYSYMChGkIQNHAA7Vfzl29Al6D4LndSAl3Yx/c0D2U788bxlzrDJZfsOBIraUDixsiwJQzMRDtPu2/MMsG4BwFVUQK1DIaJmcY69CK9TPoQk6lTYchXf59Afv4CWnIq1v/AAAAAElFTkSuQmCC");
	}
.b-icon__cont_icq{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEUAAAB5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sirxy+jZAAAAEXRSTlMABen3376hYEYxGQzzwrWOi5NBh2cAAACESURBVBjTZY9ZDgQhCESRxb1b6/6XHch0/NFEEgoKHpRSIqKiWogi8T9q6xOYvdURwnghiwFegnd4ewWgD/AogOq+JvBMxDWgudC3l3iKu3R3n89sppKzqBlzIS9AOBNlDi9fwmeZx+JDlwI6JeLqsRb+7Kz9wOyA/dF3oO9Av4+7zv8BSQ8IErkd+NkAAAAASUVORK5CYII=");
	}
.b-icon__cont_sky{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAATlBMVEUAAAB5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sikVlBGkAAAAGXRSTlMAAfsJlV/z3blvHOZApY41xK+GIRLQoH8ry0zkIAAAAJpJREFUGNNNjVkSwyAMQ20IO4Q0u+5/0YpO2un7MZYeYyGarfzjCkycppSfPeHBzPswrQcpceFcsor00Tk+9gZMNG4ATZIpdfMwmSfCKFxAmFklKi/Ad831YsPqE8Asa1V7MFARmqczwCUrEHm4AnNejXFy0t35J8I7tVaGho3BVoCjtQBSlIG9I74kIapSp/ii4bn/UNu75XwD3BgLU9RudR0AAAAASUVORK5CYII=");
	}
.b-icon__cont_mail{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAKlBMVEUAAAB5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5siplp4iSAAAADXRSTlMAEPkixbyMC5/P8qsfBc1r4gAAAFxJREFUCNdjwAIOGwOBDQMDy10wCGBgigDRrQoMTBNz7969Jglk3BS7ezdxLpBx1zH3mshdECO8LL0UxLha4SjSHgtkuPfeWnujBMjwBmnfosDACjOQQRAMsNgNAHS2Kzv/ar/6AAAAAElFTkSuQmCC");
	}
.b-icon__cont_lj{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAALVBMVEUAAAB5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5simKWZ94AAAADnRSTlMACOu5LuQlsIvBonRnGonBqqQAAABdSURBVAjXY0ABjK0RAmAGm967BrBAgtO7ABBDWIVFD8RgtHvk4NQAEnj3ToVNACTw7t2jBKCA5Lt3756DdK8DMgxBZgDpxyABbqgAAztUBQPru3cLwfZwqp9FdQEAlPQhed9UkPoAAAAASUVORK5CYII=");
	}
.b-icon__cont_jb{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEUAAAB5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sirxy+jZAAAAEXRSTlMAsZKI59CdPioYDAR72sVtVUZbfyQAAABnSURBVBjTTc5bDsQgDENRh0ChQB/e/2ZnZIW25y+XCAXS3MwblpEoaUTYNDXjBql6LhXGuhaktlg5I5TJU2HyMRV6ZsgdcjFc645CKQPhptxYOmnu3vHI+hIv45/htR/kseNbUor5Byp8ByzEqI2+AAAAAElFTkSuQmCC");
	}
.b-icon__cont_www{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAUVBMVEUAAAB5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sirN+fRwAAAAGnRSTlMAjQj2Ksb8TqlmQSID2tSWeFobFOw6MpvguhLWapwAAACmSURBVBjTLY9JEsMgDARHYjGrjcFLov8/NCJ2H2DoUjEl/Fk+x+HI4oG3xsu9ufYKdiKfCyjpdoFVJFESsM+bgMxB/D5S7ocKb0GB45Wr+PMdWeUESGOdn8kKI4vWGs1x0cNMYWPP2yFrIaOi1uLEUC7nrpPRguiSiWsFGHtCTu0vQrd2OK0FwuyPTP6+ZMMrYl9F6Pzys5ynoW9pg/FgtdBU6jP/ADeQC8udZCVdAAAAAElFTkSuQmCC");
	}
.b-icon__cont_map{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEUAAAB5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5simUM3C/AAAAEXRSTlMAzOHuUhINSgaPdBnj2/i/Z/yw2wAAAABySURBVBjTVY5JDsQwCAQBA96T9P8/O4qxYk1dgBKNoJfycEr8FNp0xoJ7zIUhaqYTHDsNYm81QVuCoZRlZlLwEglOAgg50ifGFicyxok0zP+j/YKouwqu/UjFplJgKeZktMkhMn3UCBzKDdyF6ODMHt0P/+MFnM6qj/gAAAAASUVORK5CYII=");
	}
.b-icon__cont_fav{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAPFBMVEUAAAB5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sil5sinveUfvAAAAE3RSTlMAMu3LEvqZBd14UKJuOygIu4JENopErAAAAGRJREFUGNN1j0kSwCAIBFHcjWaZ//81GvHAIX2gmC6KAvqjBp2d906JDBxKJID3sBkUDMrsHDEUF3VluBPF7CF4WdzsyrbR4twiiigQHhEBQKizrBwt2BAZhpXTUo7fqjvJP4oXRTMGwSlKOWoAAAAASUVORK5CYII=");
	}
.b-icon__cont_rate{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQAQMAAADK/wYcAAAABlBMVEUAAAB5sirzD+/8AAAAAXRSTlMAQObYZgAAABRJREFUCNdjYOBvwIqZ32Pi35gYAP0NFqdietDQAAAAAElFTkSuQmCC");
	}
.b-icon__cont_bs{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAS1BMVEUAAAD/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tAT/tATw2lBdAAAAGHRSTlMA/hXbaqciHPfmzrF/eMOaWVE2LQzyP7cy/3SXAAAAoUlEQVQY022QWw7DIAwE1wQIhDwgaVPuf9JijChSM3+MrLUXNFQ0JimMzNuUC4v+aVWUQE1bbTyJcc4RTUdUWPIfBvuTPMbnmjhpw0aDw+wzUUSqMnhxE+87cTk+ENaLK9JbqE+uMVazY44XEOuNGs2Ru/n6RSw7xtROWvq8s5CkemjPnsjYoVVQaJz9A3aLzi2zFC4MqLXs8ZrzRs5g+tgXOi4UNNwoqccAAAAASUVORK5CYII=");
	width:20px;
	height:20px;
	}
.b-icon__cont_op{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAIVBMVEUAAAB5sil5sil5sil5sil5sil5sil5sil5sil5sil5sin645gtAAAACnRSTlMAhfYS7d69pV4xT3V9CgAAACxJREFUCNdjEFkFBo4Mq6CA+gwhCK3IAATmq1YZMIBB0yoGCOCMYoACMwYGAAUaQSEfB+0pAAAAAElFTkSuQmCC");
	}
.b-icon__cont_note{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAJ1BMVEUAAAB5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sip5sirVvPRIAAAADHRSTlMAn1/vD9/Pv4tELx88s/3RAAAAdUlEQVQI12OwOXPm8ALGYw4MZ4CgQeaMFYhxkPGM4mEQQ0DmjNAZIOMQI5BzAshQkDkDJBjOnAAJHGJgOHNyD0gAyDitYwMUADIOiC8+owJiJATXHHIDMQqOSrrkgBghDJ6tZ0CMo6VAXSAGEIAZNiD6GAMDALWoQj4Yu64XAAAAAElFTkSuQmCC");
	}
.b-icon__cont_setemp{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAV1BMVEUAAAB5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxp5sxoBFOeCAAAAHHRSTlMApPOt9+W4nm9YJAz7vbKYjWlfSBrvKwnbdj085e6u4gAAAKBJREFUGNNdkOsShCAIRlFW0+xeW3vh/Z9zBWPWOn/45igDAyirtR+4Y4gMVIzTAZslerSQxvOlIXL4oEyHjqgRiVShMrnauUNnZPoQPFcsbnvm/OYUiKfxfiO7HgTP1kQgYSlyIeEq4ykjdv/2QdrXnFqbY2A3s9urlYZ5RqlQeF2WT+ImuoB6EOuL8E4lGLPJtG6HNOlR9b+HO19ro+Yf4AQTZLywi30AAAAASUVORK5CYII=");
	width:20px;
	height:20px;
	}
.b-icon__cont_setfrl{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAYFBMVEUAAAD/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxP/uxNHDOXwAAAAH3RSTlMA86335bimo55xWCT7vbKNaV9IDArvlysZ25o9PB0CAWKx/AAAAKRJREFUGNNdkNkSgzAIRQlmMXFfqnbl//+yEpoaPS+5nAwDAyRGpZ5wxRLZvF66Gd6KqKhgejhxJZHGgnZq1ERllEgZSc46d3qWfsdF473hF8Vttz17Tp54Gu+3sGvk37C1ASgyiBykOsvwkwHro73ldjfuqVJpUM9uzVZq+x7jK+5zPy0/RdnRCUwHUUaE0UmCtVucVq8wdU7c/4AGrryUCil/AZgcFYED2ZPRAAAAAElFTkSuQmCC");
	width:20px;
	height:20px;
	}




