.b-icon_dop_close{
	width:18px;
	height:18px;
	cursor:pointer;
	vertical-align: baseline;
	display:inline-block;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAS1BMVEX////vhZfqa4Lscofueo/teIzykaLvf5LvgpXcPFjtdInlVW/rbYThSmXhQl/xipvnXnfkUGvQPFHvj6D38/Tynq3VSF7RP1TXTGHxZK4LAAAAl0lEQVQY01XICw6EIAxF0adQiwwICozuf6VTPpngTZq+HOQSP1OxZBTaXlFB3MIyFbaIMy2v0okzGGMgN16oxAyAeTwhvzA/AJo8zIsX0lp/0frKHCTWpdNhqFapDXPgYCuhVRcLaaUUgPsGIFNX6qJUtU7k3IXLufHowE7rul5y49EOT26dcuSRorXqn7VxQ05+n/Ip/wAJrwjum5JDCQAAAABJRU5ErkJggg==") 0 0 no-repeat;
	}


