.b-button_circ{
	width:40px;
	height:40px;
	padding:0 !important;
	background-repeat:no-repeat;
	background-position:0 0;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAASFBMVEUAAAByjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmhyjmiGd4BhAAAAGHRSTlMAiMKeusqOPDQaESYMaFsF+eene0gtTpJa37WrAAAA/ElEQVQ4y42V247DIAxEbXOnKeTa/v+frna3lRNoxfiJwBGjIWagS+V9W90yz4tbtz3TtwrshEtMtaZYWByHj1j0cl0JLD723N3y0c4dbO/NVPL28UnmYX06f9+MufVUv5LM86vF/DS6pzfK9aTx6qPRbdTfjmLro3cU/4WZBsV/4kGOEXhI+MVHG76Y7MIYDC7TLgSU7LQxAvJGa0HAspKLlx66DLWioyWR1iTmPTQykVZaaK7Ukj1HdVZQSeXOoEorqZxKq5kTqZya0eNR0tqpPx74wOFfCDcF2mZ44+JXYXy5apGIXlc0AOBIgUMKjz08SPFoxsMefj5+AFzRCsJjKFFzAAAAAElFTkSuQmCC");
	}
.b-button_circ:hover{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAASFBMVEUAAABfvjdfvjdfvjdfvjdfvjdfvjdfvjdfvjdfvjdfvjdfvjdfvjdfvjdfvjdfvjf7/vpsw0dzx1Dv+Ovj9N3e8dWc14J4yFYhGvK9AAAAD3RSTlMAzuekjjb5hXtpSBsPASTnU2EwAAAA4ElEQVQ4y42VWRKCQAxEk5mRTbCDG/e/qYhozQLS74uPVymqSRpJ6LvGq6sqp77petnjVCsitD5ta8Ehw4VSHVrFBtoOqXcO2CGcY+/isYu/RPMSrzB/M4eAv4Tve7Y4oF1zURygn5QCDgnLQIdD3HtkDYJapFcQaC8dKDppQNGIB4UXRcwzeYxQScIZ7YGVh41JQFIhZrI7Fu42IabKRFzthpmbXZGJDrlpgOUenBR5jzYzFomLR2mWHjwdOP0J6aVg14xeXPYU6ONiz5UuALZS6JLia48vUr6a+bKnfx8vdqtI3RCoAEwAAAAASUVORK5CYII=");
	}

